.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-actions {
    margin-bottom: 1rem;
}

.card-button {
    background-color: #00a278;
    width: 100%;
    color: white;
    text-transform: none;
    font-weight: 600;
}